<div id="infoLine">
	This is own new dashbaord for XLXD servers
</div>

<marquee id="marquee" direction="left" behavior="scroll" scrollamount="6">Your own marquee</marquee>

<br>
<a target='_self' href="index.html"><div class="button noiconbutton">Users / Modules</div></a>
<a target='_self' href="repeaters.html"><div class="button noiconbutton">Repeaters / Nodes</div></a>
<a target='_self' href="peers.html"><div class="button iconbutton">Peers</div></a>
<a target='_self' href="modules.html"><div class="button iconbutton">Modules List</div></a>
<a target='_self' href="reflectors.html"><div class="button noiconbutton">Reflectors List</div></a>
<a target='_blank' Onclick="javascript:window.location.reload(false);"><div class="button iconbutton">↻ Refresh</div></a>
<div class="dropdown">
    <div class="button noiconbutton">Mode</div>
    <div class="dropdown-content">
        <a target="_blank" onclick="javascript:document.documentElement.className = 'theme-dark';saveSettings();">Dark</a>
        <a target="_blank" onclick="javascript:document.documentElement.className = 'theme-light';saveSettings();">Light</a>
        <a target="_blank" onclick="javascript:themeSettings='auto';adjustTheme()">Auto</a>
    </div>
</div>
